@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

*:focus{
    -webkit-tap-highlight-color: transparent;
}

:root{
    --bg-color: #fff;
    --txt-color: #222327;
    --main-color: #00ff33;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.438) 100%);
    padding: 28px 12%;
    transition: all .50s ease;
}

li{
    display: none
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    max-width: 200px;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--txt-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar .active{
    color: var(--main-color);
}

.navbar .active:hover{
    color: var(--txt-color);
}

.main{
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--txt-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.main a:hover{
    color: var(--main-color);
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    background: rgba(165, 165, 165, 0.384);
    padding: 10px 5px;
    border: 3px solid var(--main-color);
    border-radius: 20px;
}

.user:hover{
    border: 3px solid var(--txt-color);
    background: rgba(145, 145, 145, 0.384);
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;
}

.home{
    height: 100vh;
    background: url(/Home/IMÁGEN/Background\ Home.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    color: black;
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo-home{
    width: 500px;
}

.phone-logo{
    display: none;
}

.animate__animated.animate__fadeInUp{
    --animate-duration: 2.5s;
}

.Tittle{
    color: black;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-right: 20px;
}

.logo-home{
    margin-right: 3rem;
}

.slogan-txt{
    display: flex;
    justify-content: flex-end;
    text-align: end;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 3rem
}

.space{
    height: 13vh;
}

.start{
    height: 100vh;
}

.lyfestyle-img{
    height: 100vh;
    width: 50%;
    background: url(/Home/IMÁGEN/fastpay.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain ;
}

.container-text{
    height: 100vh;
    width: 50%;
}

.rm{
    margin-right:3rem
}

.text-desc{
    font-family: 'Bree Serif', serif;
    color: rgba(0, 0, 0, 0);
    font-size: 37px;
    text-align: justify;
    transition: all .50s ease;
}

.text-name{
    color: rgba(0, 0, 0, 0);
}

.txt-color{
    color: #222327;
}

.animate__animated.animate__fadeIn{
    --animate-duration: 2.5s
}

.animate__fadeInLeft{
    --animate-duration:2s
}

.ref{
    color: white;
    transition: all .50s ease
}

.ref:hover{
    color: var(--main-color);
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px){
    header{
        position: absolute;
    }

    .navbar{
        display: none
    }

    .navbar a{
        display: block;
        margin: 0;
        margin-top: 14px;
        padding: 0px;
        transition: all .50s ease;
    }

    .navbar a:hover{
        color: var(--txt-color);
    }

    .navbar .active{
        color: var(--txt-color);
    }

    .open{
        transform: scale(1);
    }

    .home{
        background-size:cover;
        background-position:left;
    }
}

@media (max-width: 1050px){
    .logo-home{
        width: 400px;
    }

    .home{
        background: url(/Home/IMÁGEN/Background\ Home\ Res.jpg);
        background-repeat: no-repeat;
        background-size: cover ;
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

@media (max-width: 1050px){
    .lyfestyle-img{
        margin-right: 30px;
    }

    .text-desc{
        font-size: 30px;
    }
}

@media (max-width: 800px){
    .space {
        height: 6vh;
    }
}

@media (max-width: 750px){
    .logo-home{
        width: 350px;
        margin-right: 0px ;
    }

    .slogan-txt{
        margin-right: 0;
    }

    .Tittle{
        font-size: 18px;
    }

    .start {
        height: 50vh;
    }
    
    .text-desc{
        font-size: 20px;
    }

    .lyfestyle-img {
        height: 50vh;
        width: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .container-text {
        height: 50vh;
        width: 50%;
    }
}

@media (max-width: 596px){
    .home{
        background: url(/Home/IMÁGEN/BackgroundHomePhone.jpg);
        background-repeat: no-repeat;
        background-size: cover ;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .main a {
        color: #fff;
    }

    .home-content{
        margin-top: 30vh;
    }

    .phone-logo{
        display: block;
    }

    .pc-logo{
        display: none;
    }

    .Tittle {
        color: #fff;
        text-shadow: 0px 0px 10px #000;
    }
}

@media (max-width: 560px){
    .text-desc{
        font-size: 15px;
    }

    .text-name{
        font-size: 20px;
    }

    .text-status{
        font-size: 19px;
    }

    .lyfestyle-img{
        height: 45vh;
    }
    
    .start {
        height: 45vh;
    }

    .container-text {
        height: 45vh;
    }
}

@media (max-width: 500px){
    .main a {
        transform: scale(0.8);
    }

    .text-desc{
        font-size: 13px;
    }


    .lyfestyle-img{
        height: 35vh;
    }
    
    .start {
        height: 35vh;
    }

    .container-text {
        height: 35vh;
    }
}

@media (max-width: 420px){
    .main a {
        transform: scale(0.78);
        margin-right: 0px;
        margin-left: 0px;
    }

    .logo-home{
        width: 320px;
    }

    .Tittle{
        font-size: 14px;
    }

    .text-desc{
        font-size: 13px;
    }

    .lyfestyle-img{
        height: 35vh;
    }
    
    .start {
        height: 35vh;
    }

    .container-text {
        height: 35vh;
    }
}

@media (max-width: 420px){
    .text-name{
        font-size: 16px;
    }

    .start {
        height: 35vh;
    }

    .text-status{
        font-size: 15px;
    }

    .text-desc{
        font-size: 13px;
    }

    .txt-footer{
        font-size: 11.5px;
    }
}
